.slds-is-relative {
    position: relative;
}
.figma-embed iframe {
    border: none;
}
.slds-spinner_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--spinner-background-color, rgba(255, 255, 255, 1));
}
.slds-hide {
    display: none;
}